.form-container {
  
  padding: 5vmin;
  background-color: gray;
  border: .1vmin solid gray;
  border-radius: 1vmin;

}

form {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-items:center;
  justify-content: center;

}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid white;
  border-radius: .5vmin;
  color: black;
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: white;
}